.title {
  color: #AA54D9;
    margin: 0px;
  background: rgba(44,40,30,1);
  padding: 10px;

  font-family:'Lucida Handwriting',cursive;
  font-size: 30px;
    
  border-bottom: 2px groove #222222;
}

.content {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.left {
  color: #000000;
  background: rgba(255,255,255,1);
  border: 2px ridge black;

  padding: 6px;
  font-family: "Segoe UI","Arial";
  font-size: 16px;
    flex: 1;
    height: auto;

  
  position: relative;
  margin-right: 12px;
}

.right {
  background: #444444;
  color: #FFFFFF;
  float: right;
    flex: 0 0 150px;
    height: 38px;

  border: 2px ridge #888888;
    padding: 4px;
}

.body {
  background-image: url(bg.png);
  background-repeat: repeat;
    background-color:rgba(50,50,50,1);
  margin: 0px;
}
